/* font-family: 'Spectral', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

body {
  margin: 0;
  background-color: #fff;
  font-family: "Merriweather Sans", sans-serif;
  font-color: #607d8b;
  text-align: center;
}

div {
  box-sizing: border-box;
}

svg {
  height: auto;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
}

h1 {
}

h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  border-bottom: 1px solid grey;
}

code {
  font-family: monospace;
  font-size: 120%;
}

.header {
  height: 100vh;
  background-color: #fdf8e7;
}

.bgMap {
  width: inherit;
  margin-right: 3em;
}
.instructions {
}

.logo {
  height: 4em;
  margin-right: 1em;
}

.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: right;
}

.detail {
  background-color: #fdf8e7;
  padding: 2em;
}

.detailBox {
  background-color: white;
  border: 1px solid #607d8b;
  min-height: 20em;
  padding: 2em;
  margin: 2em;
  text-align: left;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.queryResultText {
  color: #f2d653;
  font-weight: bold;
}

.detailsScrollDown {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1%;
  z-index: 2000;
}

.flag {
  height: 100px;
}

#datamapcontainer {
  height: 30vh;
  z-index: 100;
  margin-bottom: -10em;
  margin-top: -10em;
}
