/* font-family: 'Spectral', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

body {
  margin: 0;
  background-color: #fff;
  font-family: "Merriweather Sans", sans-serif;
  font-color: #607d8b;
  text-align: center;
}

div {
  box-sizing: border-box;
}

svg {
  height: auto;
  width: auto;
  position: relative;
  display: block;
  margin: auto;
}

h1 {
}

h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color: #000;
}

p {
  font-size: 1.2em;
}

a {
  color: #a0b84d;
  text-decoration: none;
}

.header {
  height: 100vh;
  background-color: #fdf8e7;
}

.logoHeader {
  padding: 2em;
  font-family: "Merriweather", serif;
}

.logoBeta {
  color: #e16644;
  font-family: "Merriweather Sans";
  margin-left: 1em;
  font-weight: bold;
}

.headerCTA {
  font-size: 1.9em;
  color: #e16644;
  font-family: "Merriweather Sans";
}

.ctaBtn {
  background-color: #a0b84d;
  color: #fff;
  font-size: 1.4em;
  padding: 0.6em 2.1em;
  border-radius: 1%;
  margin-top: 1em;
}

.bgMap {
  width: inherit;
  margin-right: 3em;
}

.chevrondown {
  height: 1.5em;
  margin: 1em;
}

.logo {
  height: 5em;
  margin-right: 1em;
}

.main {
  padding: 1em 0 0 0;
}

.detail {
  background-color: #fdf8e7;
  padding: 2em;
}

.detailBox {
  background-color: white;
  border: 1px solid #607d8b;
  min-height: 20em;
  padding: 2em;
  margin: 2em;
  text-align: left;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.queryResultText {
  color: #e16644;
  font-weight: bold;
}

.flag {
  height: 100px;
}

.footer {
  padding: 2em;
  font-family: "Merriweather", serif;
}

#datamapcontainer {
  height: 30vh;
  z-index: 100;
  margin-bottom: -15em;
  margin-top: -10em;
}
